.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container-form {
  float: left;
  width: 100%;
  text-align: left;
}
.error-message {
  padding-left: 20px;
  color: red;
  font-size: 13px;
}
.row {
  padding: 15px;;
}
.form-control {
  margin-right: 10px;;
}
.alert {
  opacity: 1.0;
}
.form-group {
  width: 200px;
  text-align: left;
}
.next-button {
  padding: 6px 24px !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
